#Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

RewriteRule ^(.*)/$ member-doneck-land?id=$1 [L]
RewriteRule ^(.*)/$ actions?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php
